<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="listarArt" routerLinkActive="Active" class="nav-link">Listar Artistas</a>
    </li>
    <li class="nav-item">
        <a routerLink="guardare" routerLinkActive="Active" class="nav-link">Registrar Artistas</a>
    </li>
    <li class="nav-item">
        <a routerLink="Listar" routerLinkActive="active" class="nav-link">Listar Clientes</a>
    </li>
    <li class="nav-item">
        <a routerLink="Guardar" routerLinkActive="active" class="nav-link">Registrar Clientes</a>
    </li>
</ul>
</nav>
<router-outlet></router-outlet>
